* text=auto !eol
/.svnignore -text
/alternc-mailman.conf -text
bureau/admin/images/mailman.png -text
bureau/admin/mman_dodel.php -text
bureau/admin/mman_dopasswd.php -text
bureau/admin/mman_dourl.php -text
bureau/admin/mman_passwd.php -text
bureau/admin/mman_syncmembers.php -text
bureau/admin/mman_url.php -text
bureau/locales/Makefile -text
bureau/locales/de_DE/LC_MESSAGES/mailman.pot -text
bureau/locales/de_DE/LC_MESSAGES/mailman_manual.pot -text
bureau/locales/en_US/LC_MESSAGES/mailman_manual.po -text
bureau/locales/es_ES/LC_MESSAGES/mailman.po -text
bureau/locales/es_ES/LC_MESSAGES/mailman_manual.po -text
bureau/locales/fr_FR/LC_MESSAGES/mailman_manual.po -text
bureau/locales/mailman.pot -text
bureau/locales/mailman_manual.pot -text
bureau/locales/pt_BR/LC_MESSAGES/mailman.po -text
bureau/locales/pt_BR/LC_MESSAGES/mailman_manual.po -text
debian/.svnignore -text
debian/NEWS -text
debian/compat -text
debian/config -text
debian/po/POTFILES.in -text
debian/po/de.po -text
debian/po/es.po -text
debian/po/fr.po -text
debian/po/pt.po -text
debian/po/templates.pot -text
debian/templates -text
patches/mailman-true-virtual-2.1.1.patch -text
patches/mailman-true-virtual-2.1.11.patch -text
patches/mailman-true-virtual-2.1.13.patch -text
patches/mailman-true-virtual-2.1.4.patch -text
patches/mailman-true-virtual-2.1.5.patch -text
patches/mailman-true-virtual-2.1.9.patch -text
src/get_url_alternc.py -text
src/mailman.create -text
src/mailman.delete -text
src/mailman.geturl -text
src/mailman.list -text
src/mailman.passwd -text
src/mailman.seturl -text
src/mailman.sub -text
src/mailman.sync -text
src/mailman.unsub -text
src/set_url_alternc.py -text
