* text=auto !eol
/alternc-mailman.conf -text
bureau/locales/en_US/LC_MESSAGES/mailman_manual.po -text
bureau/locales/fr_FR/LC_MESSAGES/mailman_manual.po -text
bureau/locales/mailman.pot -text
bureau/locales/updatelang.sh -text
debian/compat -text
debian/po/POTFILES.in -text
debian/po/fr.po -text
debian/po/templates.pot -text
src/mailman.create -text
src/mailman.delete -text
src/mailman.list -text
src/mailman.sub -text
src/mailman.unsub -text
/updatepot.sh -text
