* text=auto !eol
/alternc-mailman.conf -text
bureau/admin/mman_dodel.php -text
bureau/locales/en_US/LC_MESSAGES/mailman_manual.po -text
bureau/locales/es_ES/LC_MESSAGES/mailman.po -text
bureau/locales/es_ES/LC_MESSAGES/mailman_manual.po -text
bureau/locales/fr_FR/LC_MESSAGES/mailman_manual.po -text
bureau/locales/mailman.pot -text
bureau/locales/mailman_manual.pot -text
bureau/locales/pt_BR/LC_MESSAGES/mailman.po -text
debian/NEWS -text
debian/compat -text
debian/config -text
debian/po/POTFILES.in -text
debian/po/fr.po -text
debian/po/templates.pot -text
debian/templates -text
patches/mailman-true-virtual-2.1.1.patch -text
patches/mailman-true-virtual-2.1.4.patch -text
patches/mailman-true-virtual-2.1.5.patch -text
patches/mailman-true-virtual-2.1.9.patch -text
src/mailman.create -text
src/mailman.delete -text
src/mailman.list -text
src/mailman.sub -text
src/mailman.unsub -text
/updatepot.sh -text
