#!/bin/sh
set -e

. /usr/share/debconf/confmodule

get_config_option () {
    option="$1"
    [ -f /etc/mailman3/mailman-web.py ] || return
    sed -n -e "s/\s*$option\s*=\s*'\(.*\)'\s*$/\1/p" \
        /etc/mailman3/mailman-web.py
}

preseed_mailman3_web() {
    # the following lines are copied from mailman3-web.config
    # but with higher priority
    db_get mailman3-web/emailname && emailname="$RET"

    if [ -f /etc/mailman3/mailman-web.py ]; then
        emailname="$(get_config_option EMAILNAME)"
    elif [ -z "$emailname" ]; then
        if [ -f /etc/mailname ]; then
            emailname="$(cat /etc/mailname)"
        fi
    fi
    [ -n "$emailname" ] && db_set mailman3-web/emailname "$emailname"

    db_beginblock
    db_input high mailman3-web/emailname || true
    db_input high mailman3-web/superuser-name || true
    db_input high mailman3-web/superuser-mail || true
    db_input high mailman3-web/superuser-password || true
    db_endblock
    db_go
}

preseed_mailman3_web
