Source: alternc-mailman
Section: admin
Priority: optional
Maintainer: Benjamin Sonntag <benjamin@alternc.org>
Build-Depends: debhelper (>= 4.0.2), po-debconf
Standards-Version: 3.9.1

Package: alternc-mailman
Priority: optional
Section: admin
Architecture: all
Depends: mailman (>= 2.1), mysql-client, debconf, patch, alternc (>= 3.0~rc1), php5-cli
Description: Mailman module for AlternC
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites, domains, ftp, emails, aliases,
 web statistics, mailing-lists, jabber accounts, etc.
 .
 This package is an optional module that adds mailman mailing-lists
 managment to the virtual desktop. 
 .
 More information on http://www.alternc.com/
Description-fr.UTF-8: Module Mailman pour AlternC
 AlternC est un logiciel d'hébergement mutualisé pour serveur Linux.
 Il permet de gérer les sites web, domaines, ftp, emails, alias,
 statistiques web, listes de discussions, comptes jabber, etc.
 .
 Ce paquet est un module optionnel qui permet aux utilisateurs
 de gérer des listes de diffusion et discussions via Mailman dans AlternC.
 .
 Pour plus d'informations, consultez http://www.alternc.com/
