Source: alternc-mailman
Section: admin
Priority: optional
Maintainer: Benjamin Sonntag <benjamin@sonntag.fr>
Build-Depends: debhelper (>= 8), po-debconf
Standards-Version: 3.9.4

Package: alternc-mailman
Priority: optional
Section: admin
Architecture: all
Depends: mailman (>= 1:2.1.23-1), mysql-client | mariadb-client, debconf, patch, alternc (>> 3.2.11), php5-cli | php-cli | php7.0-cli, ${misc:Depends}
Description: Mailman module for AlternC
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites, domains, ftp, emails, aliases,
 web statistics, mailing-lists, etc.
 .
 This package is an optional module that adds mailman mailing-lists
 management to the virtual desktop. 
 .
 More information on https://www.alternc.com/
Description-fr.UTF-8: Module Mailman pour AlternC
 AlternC est un logiciel d'hébergement mutualisé pour serveur Linux.
 Il permet de gérer les sites web, domaines, ftp, emails, alias,
 statistiques web, listes de discussions, etc.
 .
 Ce paquet est un module optionnel qui permet aux utilisateurs
 de gérer des listes de diffusion et discussions via Mailman dans AlternC.
 .
 Pour plus d'informations, consultez https://www.alternc.com/
