#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess.
#
# This version is for a multibinary package. It also allows you to build any
# of the binary packages independantly, via binary-<package> targets.

# Uncomment this to turn on verbose mode. 
export DH_VERBOSE=1
MAJOR=$(shell sed -ne 's/^[^(]*(\([^)]*\)).*/\1/;1p' debian/changelog)
REV=$(shell env LANG=C svn info --non-interactive | awk '/^Revision:/ { print $$2 }')
VERSION="${MAJOR}~svn${REV}"
export VERSION

override_dh_install:
#dh install
	$(MAKE) install DESTDIR=$(CURDIR)/debian/alternc-mailman

%:
	dh $@


build-snapshot:
	@echo "building a package based on the current snapshot (${VERSION})"
	svn update || true
	svn export . ../alternc-mailman-${VERSION}
	cd ../alternc-mailman-${VERSION} && sed -i -e '0,/UNRELEASED/s/)/~svn${REV})/' debian/changelog && debuild
